header {
  background-color: #0074cc;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
}

.container {
  max-width: 800px;
  margin: 2em auto 0;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

p {
  font-size: 18px;
  text-align: center;
}

.message {
  font-style: italic;
  font-size: 14px;
  color: #777;
  text-align: center;
  margin-top: 20px;
}
