<header>
  <h1>Welcome to "{{ title }}"</h1>
</header>

<div class="container">
  <p>
    Congratulations! You're about to embark on an exciting journey into the
    world of web development. In this workshop, you'll learn the basics of web
    app creation and even build your own to-do list application.
  </p>
  <p>
    Get ready to code, experiment, and bring your ideas to life. The
    possibilities are endless, and we're here to guide you every step of the
    way.
  </p>

  <div class="message">
    <p>
      Keep an eye on this page as it evolves. We'll be adding more resources and
      features to enhance your learning experience. Let's get started on an
      amazing web app journey!
    </p>
  </div>
</div>

<router-outlet></router-outlet>
